/* Contact PAGE */
@font-face {
    font-family: 'Barlow-Black';
    src: url('../public/font/Barlow-Black.ttf') format('truetype');
    font-style: normal;
}

#contact {
    position: relative;
    /* 确保可以相对于这个容器定位copyright */
}

.copyright {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.7);
    /* 半透明白色 */
    text-align: left;
}

.copyright p {
    margin: 5px 0;
}

.contact-container {
    font-family: 'Barlow-Black';
    position: absolute;
    bottom: 12%;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.contact-text {
    font-size: 2.5rem;
    color: #fff;
}

.email {
    font-size: 1.8rem;
    color: #D6F0C6;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .contact-text {
        font-size: 2rem;
    }
    
    .email {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .copyright {
        font-size:0.8rem;
    }

    .contact-container {
        bottom: 10%;
    }

    .contact-text {
        font-size: 1.5rem;
    }
    
    .email {
        font-size: 1.2rem;
    }
}