/* Contact PAGE */
@font-face {
    font-family: 'Barlow-Black';
    src: url('../public/font/Barlow-Black.ttf') format('truetype');
    font-style: normal;
}

#contact {
    position: relative; /* 确保可以相对于这个容器定位copyright */
}

.email {
    font-family: 'Barlow-Black', sans-serif;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}

.copyright {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7); /* 半透明白色 */
    text-align: left;
}

.copyright p {
    margin: 5px 0;
}

/* 为了确保邮箱地址不会与版权信息重叠 */
.email {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}