.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 将容器分为 4 列 */
    gap: 15px;
    width: 85%;
    height: 85vh;
    padding-top: 10vh;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    font-size: 0.9em;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.gallery-item:hover .caption {
    opacity: 1;
}

/* 定义不同的大小 */
.item-large {
    grid-column: span 2;
    /* 占据 2 列 */
    grid-row: span 2;
    /* 占据 2 行 */
}

.item-small {
    grid-column: span 1;
    /* 占据 1 列 */
    grid-row: span 1;
    /* 占据 1 行 */
}