@font-face {
    font-family: 'Barlow-ExtraBlod';
    src: url('../public/font/Barlow-ExtraBold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-Black';
    src: url('../public/font/Barlow-Black.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-SemiBold';
    src: url('../public/font/Barlow-SemiBold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Shoujin';
    src: url('../public/font/Shoujin.ttf') format('truetype');
    font-style: normal;
}

.bento-container {
    display: flex;
    height: 80vh;
    width: 80vw;
    padding-top: 8vh;
}

.bento-nav {
    background-color: #00A651;
    color: #fff;
    position: relative;
    padding: 10px 0px 15px 25px;
    border-radius: 15px;
    margin-right: 2rem;
    max-height: 80vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* 防止滚动条出现在整个导航区域 */
}

.bento-nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: linear-gradient(90deg, #e74c3c, #f39c12, #2ecc71, #3498db);
}

.bento-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.collection-title {
    padding: 5px 5px 5px 20px;
    font-family: 'Barlow-Black', sans-serif;
    font-size: 1.6rem;
}

.bento-nav h1 {
    font-family: 'Barlow-Black', sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 1rem;
}

.bento-nav h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #7CC694;
}

.bento-nav ul {
    list-style-type: none;
    padding: 0 10px 0 0;
    margin-top: 0;
    overflow-y: auto;
    flex-grow: 1;
    padding-right: 10px;
}

/* 自定义滚动条样式 */
.bento-nav ul::-webkit-scrollbar {
    width: 6px;
}

.bento-nav ul::-webkit-scrollbar-track {
    background: transparent;
}

.bento-nav ul::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    border: 1px solid rgba(0, 166, 81, 0.3);
}

.bento-nav ul::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

/* 对于 Firefox */
.bento-nav ul {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

.bento-nav li {
    position: relative;
    margin-bottom: 0.5rem;
}

.bento-nav a {
    font-family: 'Barlow-SemiBold', sans-serif;
    font-size: 1rem;
    color: #D6F0C6;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.bento-nav a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #00530A;
    opacity: 50%;
    transition: left 0.3s ease;
    z-index: -1;
}

.bento-nav a:hover,
.bento-nav a.active {
    color: #ffffff;
    transform: translateX(5px);
}

.bento-nav a:hover::before,
.bento-nav a.active::before {
    left: 0;
}

.bento-nav li li::before {
    content: '▶';
    position: absolute;
    left: -1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8em;
    color: #D6F0C6;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.bento-nav li:hover::before,
.bento-nav a.active+li::before {
    opacity: 1;
    transform: translateY(-50%) translateX(3px);
}

.bento-nav .folder {
    padding-left: 1rem;
}

.bento-nav .folder-name {
    font-family: 'Barlow-Black', sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
    cursor: pointer;
    display: block;
    padding: 0.5rem 1rem;
    position: relative;
}

.bento-nav .folder-name::before {
    content: '▶';
    position: absolute;
    left: -1rem;
    transition: transform 0.3s ease;
}

.bento-nav .folder.open .folder-name::before {
    transform: rotate(90deg);
}

.bento-nav .folder>ul {
    display: none;
    margin-left: 1rem;
}

.bento-nav .folder.open>ul {
    display: block;
}

.bento-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(36, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
}

.bento-item {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bento-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
}

.bento-item.medium {
    color: white;
    grid-column: span 12;
    grid-row: span 2;
    background-color: #D6F0C6;
}

.bento-item.square {
    color: white;
    grid-column: span 6;
    grid-row: span 2;
    background-color: #000000;
}

.bento-item.long {
    color: white;
    grid-column: span 24;
    grid-row: span 2;
    background-color: #000000;
}

.bento-item.large {
    color: white;
    grid-column: span 15;
    grid-row: span 3;
    background-color: #FFFFFF;
}

.bento-item.tall {
    color: #000000;
    grid-column: span 6;
    grid-row: span 5;
    background-color: #D6F0C6;
}

.bento-item.long .bento-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.bento-item.long b {
    padding-top: 6px;
    font-size: 3rem;
}

.bento-item.long p {
    font-size: 0.8rem;
}

@media (max-width: 1200px) {
    .bento-container {
        flex-direction: column;
        height: auto;
        /* 移除固定高度 */
        width: 90%;
        align-items: center;
    }

    .bento-nav {
        width: 95%;
        max-height: 150px;
        overflow-y: auto;
        margin: 10px;
        margin-bottom: 15px;
        padding: 5px 0px 5px 15px;
    }

    .bento-content {
        width: 100%;
    }

    .bento-grid {
        grid-template-columns: repeat(18, 1.5fr);
        grid-template-rows: repeat(11, 0.4fr);
        gap: 10px;
        padding: 10px;
    }

    .bento-item.medium {
        color: white;
        grid-column: span 9;
        grid-row: span 3;
        background-color: #D6F0C6;
    }

    .bento-item.square {
        color: white;
        grid-column: span 4;
        grid-row: span 2;
        background-color: #000000;
    }

    .bento-item.long {
        color: white;
        grid-column: span 14;
        grid-row: span 2;
        background-color: #000000;
    }

    .bento-item.long b {
        padding-top: 10px;
        font-size: 1.5rem;
    }

    .bento-item.long p {
        font-size: 0.7rem;
    }

    .bento-item.large {
        color: white;
        grid-column: span 4;
        grid-row: span 3;
        background-color: #FFFFFF;
    }

    .bento-item.tall {
        color: #000000;
        grid-column: span 14;
        grid-row: span 3;
        background-color: #D6F0C6;
    }

    .collection-title {
        font-size: 1.5rem;
    }

    .bento-nav h1 {
        font-size: 1rem;
        padding-bottom: 0.3rem;
    }

    .bento-nav .folder {
        padding-left: 1rem;
    }
    
    .bento-nav .folder-name {
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
    }
    
    .bento-nav .folder-name::before {
        left: 0rem;
    }
    
    .bento-nav .folder>ul {
        display: none;
        margin-left: 0.3rem;
    }

    .bento-nav li {
        position: relative;
        margin-bottom: 0.2rem;
    }
    
    .bento-nav a {
        font-size: 0.8rem;
        padding: 0.5rem 0.5rem;
    }
    
    .bento-nav a:hover,
    .bento-nav a.active {
        color: #ffffff;
        transform: translateX(5px);
    }
    
    .bento-nav a:hover::before,
    .bento-nav a.active::before {
        left: 0;
    }
    
    
}